In [1]:
import re
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import ast

In [2]:
location = "./IP_Only/"

#"./Documents/GitHub/UncertainTarget/EnumX_RowCol2ndStage/TestInstances/"
directory = os.fsencode(location)

# def importSet(filename, setRow, setLabel):
df_IP = pd.DataFrame(columns=('dataSet', 'ins','theta', 'totalTime', 't_RowGen', 'n_RowGen', 't_ColGen','n_ColGen'))
# location = "Documents/GitHub/UncertainTarget/EnumX_RowCol2ndStage/TestInstances/p_Instances_Output/"
allSets = []
k = 0
for file in os.listdir(directory):
    filename = os.fsdecode(file) 
#     print(filename)
    if filename.startswith('O_'):
        filePath = os.path.join(location, filename)
#         print(filePath)
        thisFile = open(filePath, "r")
          # remove /n at the end of each line
        lines_E = thisFile.readlines()
        thisFile.close()
        r = 0
        df_row = [0 for i in range(8)]
        for index, line in enumerate(lines_E):
            lines_E[index] = line.strip()
        for line in lines_E:
#             print(line)
            line = line.replace(', ', ',')
            line = line.replace('; ', ' ')
            elem = line.split(' = ')
            if elem[0] == "dataSet":
#                 
                df_row[0] = elem[1]
            elif elem[0] == "ins":
                df_row[1] = elem[1]
            elif elem[0] == "theta":
                df_row[2] = elem[1]
            elif elem[0] == "totalTime":
                df_row[3] = elem[1]
            elif elem[0] == "t_RowGen":
                df_row[4] = elem[1]
            elif elem[0] == "n_RowGen":
                df_row[5] = elem[1]
            elif elem[0] == "t_ColGen":
                df_row[6] = elem[1]
            elif elem[0] == "n_ColGen":
                df_row[7] = elem[1]
                        
#             r = r+1
#         print(df_row)
        k=k+1
        df_IP.loc[k] = df_row
for colName in ['ins','theta', 'totalTime', 't_RowGen', 'n_RowGen','t_ColGen','n_ColGen']:
    df_IP[colName] = pd.to_numeric(df_IP[colName])
#         print(df_E)
# display(df_E.style.format({'RootOptGap': '{:,.1%}'.format}))
# display()
df_IP.groupby(['dataSet'], as_index=False).aggregate({'totalTime':np.average,'t_RowGen':np.average,'t_ColGen':np.average, 't_ColGen':np.average })

    dataSet    totalTime     t_RowGen  t_ColGen
0  N30_d10_  1056.653163  1019.212163  4.672509
1  N40_d10_  1123.362559  1087.068843  3.625705
2  N50_d10_   851.638157   815.463151  3.453835
3  N60_d10_  1192.943216  1156.770012  3.459129

In [3]:
location = "./LP_IP/"

#"./Documents/GitHub/UncertainTarget/EnumX_RowCol2ndStage/TestInstances/"
directory = os.fsencode(location)

# def importSet(filename, setRow, setLabel):
df_LP = pd.DataFrame(columns=('dataSet', 'ins','theta', 'totalTime', 't_RowGen', 'n_RowGen', 't_ColGen','n_ColGen'))
# location = "Documents/GitHub/UncertainTarget/EnumX_RowCol2ndStage/TestInstances/p_Instances_Output/"
allSets = []
k = 0
for file in os.listdir(directory):
    filename = os.fsdecode(file) 
#     print(filename)
    if filename.startswith('O_'):
        filePath = os.path.join(location, filename)
#         print(filePath)
        thisFile = open(filePath, "r")
          # remove /n at the end of each line
        lines_E = thisFile.readlines()
        thisFile.close()
        r = 0
        df_row = [0 for i in range(8)]
        for index, line in enumerate(lines_E):
            lines_E[index] = line.strip()
        for line in lines_E:
#             print(line)
            line = line.replace(', ', ',')
            line = line.replace('; ', ' ')
            elem = line.split(' = ')
            if elem[0] == "dataSet":
#                 
                df_row[0] = elem[1]
            elif elem[0] == "ins":
                df_row[1] = elem[1]
            elif elem[0] == "theta":
                df_row[2] = elem[1]
            elif elem[0] == "totalTime":
                df_row[3] = elem[1]
            elif elem[0] == "t_RowGen":
                df_row[4] = elem[1]
            elif elem[0] == "n_RowGen":
                df_row[5] = elem[1]
            elif elem[0] == "t_ColGen":
                df_row[6] = elem[1]
            elif elem[0] == "n_ColGen":
                df_row[7] = elem[1]
                        
#             r = r+1
#         print(df_row)
        k=k+1
        df_LP.loc[k] = df_row
for colName in ['ins','theta', 'totalTime', 't_RowGen', 'n_RowGen','t_ColGen','n_ColGen']:
    df_LP[colName] = pd.to_numeric(df_LP[colName])
#         print(df_E)
# display(df_E.style.format({'RootOptGap': '{:,.1%}'.format}))
# display()
df_LP.groupby(['dataSet'], as_index=False).aggregate({'totalTime':np.average,'t_RowGen':np.average,'t_ColGen':np.average, 't_ColGen':np.average })

    dataSet   totalTime    t_RowGen  t_ColGen
0  N30_d10_  954.560582  913.622295  4.433245
1  N40_d10_  914.727621  874.839731  3.478829
2  N50_d10_  628.077491  588.159763  3.353335
3  N60_d10_  897.076546  857.163475  3.361012

In [16]:
location = "./SVI/"

#"./Documents/GitHub/UncertainTarget/EnumX_RowCol2ndStage/TestInstances/"
directory = os.fsencode(location)

# df_SVI = 
# def importSet(filename, setRow, setLabel):
df_SVI = pd.DataFrame(columns=('dataSet', 'ins','theta', 'totalTime', 't_RowGen', 'n_RowGen', 't_ColGen','n_ColGen'))
# location = "Documents/GitHub/UncertainTarget/EnumX_RowCol2ndStage/TestInstances/p_Instances_Output/"
allSets = []
k = 0
for file in os.listdir(directory):
    filename = os.fsdecode(file) 
    
    if filename.startswith('O_N'):
        filePath = os.path.join(location, filename)
#         print(filePath)
        thisFile = open(filePath, "r")
          # remove /n at the end of each line
        lines_E = thisFile.readlines()
        thisFile.close()
        r = 0
        df_row = [0 for i in range(8)]
        for index, line in enumerate(lines_E):
            lines_E[index] = line.strip()
#         if filename.startswith('O_N30_'):
#                 print(filename)
        for line in lines_E:
#             if filename.startswith('O_N30_'):
#                 print(filename)
#                 print(line)
            line = line.replace(', ', ',')
            line = line.replace('; ', ' ')
            elem = line.split(' = ')
            if elem[0] == "dataSet":
                df_row[0] = elem[1]
            elif elem[0] == "ins":
                df_row[1] = elem[1]
            elif elem[0] == "theta":
                df_row[2] = elem[1]
            elif elem[0] == "totalTime":
#                 if filename.startswith('O_N30_'):
#                     print(elem[1])
                df_row[3] = elem[1]
            elif elem[0] == "t_RowGen":
                df_row[4] = elem[1]
            elif elem[0] == "n_RowGen":
                df_row[5] = elem[1]
            elif elem[0] == "t_ColGen":
                df_row[6] = elem[1]
            elif elem[0] == "n_ColGen":
                df_row[7] = elem[1]
                        
#             r = r+1
#         print(df_row)
        k=k+1
        df_SVI.loc[k] = df_row
for colName in ['ins','theta', 'totalTime', 't_RowGen', 'n_RowGen','t_ColGen','n_ColGen']:
    df_SVI[colName] = pd.to_numeric(df_SVI[colName])
#         print(df_E)
# display(df_E.style.format({'RootOptGap': '{:,.1%}'.format}))
# display()
df_SVI
# df_SVI[df_SVI['dataSet'] == 'N30_d10_']
# df_SVI.groupby(['dataSet'], as_index=False).count()
# df_SVI.groupby(['dataSet'], as_index=False).aggregate({'totalTime':np.average,'t_RowGen':np.average,'t_ColGen':np.average, 't_ColGen':np.average })

O_N30_d10_100_SVI.txt
414.86876487731934
O_N30_d10_18_SVI.txt
3043.692057132721
O_N30_d10_26_SVI.txt
904.8769159317017
O_N30_d10_27_SVI.txt
325.8046591281891
O_N30_d10_95_SVI.txt
122.33028602600098
O_N30_d10_65_SVI.txt
173.3050491809845
O_N30_d10_4_SVI.txt
270.235276222229
O_N30_d10_74_SVI.txt
279.260596036911
O_N30_d10_57_SVI.txt
1289.3820989131927
O_N30_d10_53_SVI.txt
1902.8453710079193
O_N30_d10_36_SVI.txt
792.4866480827332
O_N30_d10_25_SVI.txt
316.65092301368713
O_N30_d10_63_SVI.txt
347.04613184928894
O_N30_d10_93_SVI.txt
1472.907469034195
O_N30_d10_59_SVI.txt
737.7538249492645
O_N30_d10_51_SVI.txt
101.8903911113739
O_N30_d10_17_SVI.txt
2260.134407043457
O_N30_d10_13_SVI.txt
1367.8994941711426
O_N30_d10_38_SVI.txt
417.02992701530457
O_N30_d10_83_SVI.txt
177.75189208984375
O_N30_d10_12_SVI.txt
286.97072291374207
O_N30_d10_35_SVI.txt
208.62805604934692
O_N30_d10_7_SVI.txt
895.24968791008
O_N30_d10_62_SVI.txt
1876.9354491233826

,dataSet,ins,theta,totalTime,t_RowGen,n_RowGen,t_ColGen,n_ColGen
1,N50_d10_,1083,0.129923,154.249874,113.404329,1,3.249631,1
2,N30_d10_,100,0.001474,414.868765,372.508467,39,4.432630,33
3,N40_d10_,87,0.148697,149.756970,108.733341,5,3.293594,5
4,N60_d10_,48,0.136850,180.563482,139.896843,2,3.242416,2
5,N40_d10_,194,0.077186,226.184440,185.002481,7,3.452982,7
6,N30_d10_,18,0.006732,3043.692057,3002.196533,24,3.849161,19
7,N60_d10_,133,0.143000,107.487459,66.436905,4,3.310346,4
8,N30_d10_,26,0.016719,904.876916,863.424912,9,3.475567,9
9,N50_d10_,1292,0.160000,105.570052,64.840516,3,3.228355,3
10,N60_d10_,1101,0.130000,867.194303,826.396709,8,3.365786,7
11,N50_d10_,561,0.371603,155.205889,113.949101,6,3.434746,6
12,N30_d10_,27,0.005011,325.804659,284.347791,23,3.735243,21
13,N60_d10_,269,0.272000,140.386560,99.613473,2,3.245866,2
14,N50_d10_,727,0.272406,67.597166,26.727846,2,3.308943,2
15,N50_d10_,1006,0.318000,512.519522,471.841348,3,3.227911,3
16,N60_d10_,16,0.426883,2239.456707,2198.679599,4,3.269171,4
17,N40_d10_,21,0.075906,1619.438196,1578.465500,7,3.425503,7
18,N30_d10_,95,0.007823,122.330286,80.608729,22,3.715389,22
19,N30_d10_,65,0.038657,173.305049,131.425548,31,3.772686,23
20,N40_d10_,132,0.046393,665.233375,623.883374,8,3.443162,7
21,N50_d10_,909,0.249990,714.786583,673.926600,4,3.339002,4
22,N40_d10_,48,0.106929,780.368536,739.272713,6,3.311130,5
23,N30_d10_,4,0.002105,270.235276,229.058921,9,3.429058,9
24,N60_d10_,1265,0.335255,137.289044,96.116394,4,3.358889,4
25,N30_d10_,74,0.014666,279.260596,237.768961,43,4.089905,36
26,N60_d10_,1019,0.336000,131.864176,90.822529,2,3.448169,2
27,N40_d10_,127,0.001352,69.272278,28.244119,3,3.313726,3
28,N60_d10_,1115,0.199000,198.101257,157.327723,1,3.189357,1
29,N30_d10_,57,0.036354,1289.382099,1247.999769,8,3.421020,8
30,N30_d10_,53,0.002606,1902.845371,1859.899014,52,4.869984,47
31,N30_d10_,36,0.012213,792.486648,751.187723,15,3.565446,10
32,N40_d10_,142,0.149027,788.793666,747.743082,4,3.302487,3
33,N50_d10_,282,0.249000,82.963866,42.191368,2,3.222057,2
34,N40_d10_,151,0.003960,166.770096,125.528980,4,3.453489,4
35,N40_d10_,23,0.271754,115.844714,74.526630,6,3.393927,5
36,N30_d10_,25,0.006675,316.650923,275.322638,12,3.475392,10
37,N30_d10_,63,0.027441,347.046132,305.675518,18,3.723161,15
38,N30_d10_,93,0.004435,1472.907469,1429.390243,94,6.015378,80
39,N30_d10_,59,0.040703,737.753825,695.524388,45,4.611904,37
40,N50_d10_,1211,0.078859,383.274214,342.509531,2,3.256882,2
41,N40_d10_,80,0.022000,935.476075,894.207293,10,3.450273,8
42,N30_d10_,51,0.041403,101.890391,60.397010,31,3.816087,29
43,N60_d10_,1013,0.216000,1317.527080,1276.922570,3,3.264044,3
44,N30_d10_,17,0.013904,2260.134407,2218.781353,23,3.634139,18
45,N60_d10_,130,0.011269,83.468151,42.724994,1,3.243658,1
46,N30_d10_,13,0.033426,1367.899494,1324.944548,71,5.111082,65
47,N40_d10_,148,0.030636,89.146582,48.424560,3,3.273168,3
48,N40_d10_,167,0.003996,1472.406949,1431.192836,7,3.513465,6
49,N30_d10_,38,0.031565,417.029927,375.375311,34,3.978063,29
50,N60_d10_,849,0.110000,60.518778,19.722237,3,3.313450,2
51,N40_d10_,79,0.085651,312.886772,271.868145,3,3.285119,3
52,N30_d10_,83,0.036863,177.751892,136.475669,22,3.830662,17
53,N50_d10_,320,0.204816,114.564637,73.592656,2,3.264007,2
54,N30_d10_,12,0.035911,286.970723,245.658599,11,3.440721,9
55,N30_d10_,35,0.011761,208.628056,165.969030,49,4.734782,37
56,N50_d10_,1005,0.083904,133.054633,92.323350,2,3.231259,2
57,N50_d10_,741,0.148000,47.694000,6.948627,2,3.274168,2
58,N30_d10_,7,0.033405,895.249688,853.217444,40,4.529705,36
59,N30_d10_,62,0.017412,1876.935449,1833.899571,67,5.308238,57